.category-section{
    background: linear-gradient(135deg, rgb(218, 218, 104), rgb(250, 250, 153));
    max-width: 500px;
    margin: 0 auto;
    height: 400px;
    font-family: "Poppins", sans-serif;
    padding: 30px;
    display: flex;
    flex-direction: column;
    transform: translate(0, 20%);
}
.category-section h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(51, 59, 3);
}
.input-text{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
}
.action-step{
    display: flex;
    justify-content: space-between;
}
.start-btn, .back-btn{
    color: white;
    padding: 8px 25px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.start-btn{
    background-color: rgb(104, 196, 29);
}
.back-btn{
    background-color: rgb(202, 36, 44);
}